<ion-header [translucent]="false" style="box-shadow: none;">
  <ion-toolbar color="bg" style="--border-width: 0 0;">
    <ion-title class="m15" style="color: var(--ion-color-primary);text-align: center;">Step 1 of 7</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="ion-text-center" style="margin-top: 15px;">
    <ion-text class="s26" >Choose gender</ion-text>
  </div>

  <div class="obox list" style="margin-top: 20px;border-color: var(--ion-color-primary);">
    <ion-img src="../../../../assets/image/s60.png" style="height: 25px;width: 25px;"/>
    <ion-text class="m15" style="margin-left: 15px;flex: 1;" >Woman</ion-text>
  </div>

  <div class="obox list" style="margin-top: 20px;">
    <ion-img src="../../../../assets/image/s61.png" style="height: 25px;width: 25px;"/>
    <ion-text class="m15" style="margin-left: 15px;flex: 1;" >Man</ion-text>
  </div>

</ion-content>

<ion-footer [translucent]="false" style="box-shadow: none;background-color: var(--ion-color-bg);">
  <ion-toolbar color="bg" style="padding: 10px 15px; --border-width: 0 0;">

    <ion-button routerLink="/st2" expand="block" >Continue</ion-button>

  </ion-toolbar>
</ion-footer>
