<ion-header [translucent]="false" style="box-shadow: none;background-color: var(--ion-color-bg);">
  <ion-toolbar color="bg" style="--border-width: 0 0;">
    <ion-buttons slot="start" routerLink="/tabs" >
      <ion-icon name="arrow-back" style="font-size: 24px;color: var(--ion-color-txt);"></ion-icon>
    </ion-buttons>
    <ion-title class="m15" style="text-align: center;">Category</ion-title>
  </ion-toolbar>
  <div class="input1" style="margin: 10px 15px;">
    <ion-icon name="search-outline" style="font-size: 20px;color: var(--ion-color-dis);"/>
    <ion-input placeholder="Search something" type="text"/>
  </div>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <div class="obox1 list" >
    <ion-img src="../../../../assets/image/s32.png" style="height: 53px;width: 53px;"/>
    <div style="margin-left: 15px;flex: 1;">
      <ion-text class="m15" >Personal Trainings</ion-text>
      <div>
        <ion-text class="r13" style="color: #404B52;" >2 workouts</ion-text>
      </div>
    </div>
    <ion-icon name="chevron-forward" style="font-size: 24px;color: #A9B2BA;"/>
  </div>

  <div class="obox1 list" style="margin-top: 15px;" >
    <ion-img src="../../../../assets/image/s33.png" style="height: 53px;width: 53px;"/>
    <div style="margin-left: 15px;flex: 1;">
      <ion-text class="m15" >Yoga</ion-text>
      <div>
        <ion-text class="r13" style="color: #404B52;" >13 workouts</ion-text>
      </div>
    </div>
    <ion-icon name="chevron-forward" style="font-size: 24px;color: #A9B2BA;"/>
  </div>

  <div class="obox1 list" style="margin-top: 15px;" >
    <ion-img src="../../../../assets/image/s34.png" style="height: 53px;width: 53px;"/>
    <div style="margin-left: 15px;flex: 1;">
      <ion-text class="m15" >Stretch</ion-text>
      <div>
        <ion-text class="r13" style="color: #404B52;" >16 workouts</ion-text>
      </div>
    </div>
    <ion-icon name="chevron-forward" style="font-size: 24px;color: #A9B2BA;"/>
  </div>

  <div class="obox1 list" style="margin-top: 15px;" >
    <ion-img src="../../../../assets/image/s35.png" style="height: 53px;width: 53px;"/>
    <div style="margin-left: 15px;flex: 1;">
      <ion-text class="m15" >Boxing</ion-text>
      <div>
        <ion-text class="r13" style="color: #404B52;" >3 workouts</ion-text>
      </div>
    </div>
    <ion-icon name="chevron-forward" style="font-size: 24px;color: #A9B2BA;"/>
  </div>

  <div class="obox1 list" style="margin-top: 15px;" >
    <ion-img src="../../../../assets/image/s36.png" style="height: 53px;width: 53px;"/>
    <div style="margin-left: 15px;flex: 1;">
      <ion-text class="m15" >Running</ion-text>
      <div>
        <ion-text class="r13" style="color: #404B52;" >10 workouts</ion-text>
      </div>
    </div>
    <ion-icon name="chevron-forward" style="font-size: 24px;color: #A9B2BA;"/>
  </div>

  <div class="obox1 list" style="margin-top: 15px;" >
    <ion-img src="../../../../assets/image/s37.png" style="height: 53px;width: 53px;"/>
    <div style="margin-left: 15px;flex: 1;">
      <ion-text class="m15" >Upper Body</ion-text>
      <div>
        <ion-text class="r13" style="color: #404B52;" >9 workouts</ion-text>
      </div>
    </div>
    <ion-icon name="chevron-forward" style="font-size: 24px;color: #A9B2BA;"/>
  </div>

  <div class="obox1 list" style="margin-top: 15px;margin-bottom: 15px;" >
    <ion-img src="../../../../assets/image/s38.png" style="height: 53px;width: 53px;"/>
    <div style="margin-left: 15px;flex: 1;">
      <ion-text class="m15" >Gym</ion-text>
      <div>
        <ion-text class="r13" style="color: #404B52;" >17 workouts</ion-text>
      </div>
    </div>
    <ion-icon name="chevron-forward" style="font-size: 24px;color: #A9B2BA;"/>
  </div>

</ion-content>
