<ion-header [translucent]="false" style="box-shadow: none;">
  <ion-toolbar color="bg" style="--border-width: 0 0;">
    <ion-buttons slot="start" routerLink="/st2" >
      <ion-icon name="arrow-back" style="font-size: 24px;color: var(--ion-color-txt);"></ion-icon>
    </ion-buttons>
    <ion-title class="m15" style="color: var(--ion-color-primary);text-align: center;">Step 3 of 7</ion-title>
    <ion-buttons slot="end">
      <ion-text class="r15" style="color: #404B52;">Skip</ion-text>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <div class="ion-text-center" style="margin-top: 15px;">
    <ion-text class="s26" >Select height</ion-text>
  </div>

  <div class="column" style="align-items: center;margin-top: 30px;">
    <div class="chip list" style="height: 39px;border-width: 0;background-color: #F1F4F8;padding: 0 10px;">
      <div style="margin: 0 40px;">
        <ion-text class="r13" style="color: #404B52;">Feet</ion-text>
      </div>
      <div class="chip" style="border-width: 0;background-color: #fff;margin: 8px 0;height: 30px;">
        <ion-text class="b12" >Centimetre</ion-text>
      </div>
    </div>
  </div>

  <div class="column" style="align-items: center;margin-top: 30px;">
    <div class="list">
      <div class="input">
        <ion-input placeholder="168" type="tel" style="text-align: center;"/>
      </div>
      <ion-text class="r15" style="margin-left: 7px;">cm</ion-text>
    </div>
  </div>

</ion-content>

<ion-footer [translucent]="false" style="box-shadow: none;background-color: var(--ion-color-bg);">
  <ion-toolbar color="bg" style="padding: 10px 15px; --border-width: 0 0;">
    
    <ion-button routerLink="/st4" expand="block" >Continue</ion-button>

  </ion-toolbar>
</ion-footer>
