ion-tabs {
    background-color: var(--ion-color-bg);
    // --------------Custom Semi Transparent & Rounded Tabs----------------------
    ion-tab-bar {
        position: absolute;
        height: 70px;
        width: 100%;        
        --background: var(--ion-color-bg);
        bottom: 0;
        --border: 0;
        ion-tab-button {
            --background: var(--ion-color-bg);
            --color: #9299A3;
            --color-selected: var(--ion-color-primary);
            font-size: 10px;
            font-family: Poppins-Regular;
           
        }
    }
}