
<ion-content [fullscreen]="true" class="ion-padding">

  <div class="ion-text-center" style="margin-top: 50px;">
    <ion-text class="s26" >We create your training plan</ion-text>
  </div>

  <div class="column" style="align-items: center;margin-top: 20px;">
    <ion-img src="../../../../assets/image/a12.svg" style="height: 250px;width: 250px;"/>
  </div>

  <div class="ion-text-center" style="margin-top: 20px;">
    <ion-text class="r15" >We create a workout according to demographic profile, activity level and interests</ion-text>
  </div>

  <ion-button routerLink="/tabs" expand="block" style="margin: 30px 0;">Start Training</ion-button>

</ion-content>
