<ion-header [translucent]="false" style="box-shadow: none;background-color: var(--ion-color-input);">
  <ion-toolbar color="input" style="--border-width: 0 0;">
    <ion-buttons slot="start" routerLink="/weight">
      <ion-icon name="arrow-back" style="font-size: 24px;color: var(--ion-color-txt);"></ion-icon>
    </ion-buttons>
    <div class="ion-text-center">
      <ion-title class="m16"></ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="camera-content">

  <!-- Video input element -->
  <video id="input_video"   class="input_video h-0.5 opacity-0" crossorigin="anonymous" autoplay controls playsinline></video>

  <!-- Video output element -->
  <video id="output_video" class="output_video" crossorigin="anonymous" autoplay controls></video>
  <!-- Canvas output element -->
  <canvas id="output_canvas" class="output_canvas"></canvas> 
 
</ion-content>