<ion-header [translucent]="false" style="box-shadow: none; background-color: var(--ion-color-bg);">
  <ion-toolbar color="bg" style="--border-width: 0 0;">
    <div class="column" style="align-items: flex-start;">
      <ion-text class="s26">Categories</ion-text>
    </div>
    <ion-buttons id="open-modal" slot="end" class="">
      <ion-icon size="" name="information-circle-outline" style="font-size: 27px; color: var(--ion-color-primary);" ></ion-icon>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" style="background-color: var(--ion-color-input);">

  <div style="display: flex; flex-direction: column; height: 100%;">

    <div style="flex: 1; overflow-y: auto;">

      <div style="display: grid; grid-template-columns: repeat(2, 2fr); gap: 10px;">
        <ng-container *ngFor="let item of programs">
          <div class="" style="background-color: var(--ion-color-input); border-radius: 10px; overflow: hidden;">
            <div routerLink="/wdetail/{{item.id}}"
                 [style.backgroundImage]="'url(' + item.program_thumbnail + ')'"
                 style="position: relative; width: 100%; height: 205px; background-position: top; background-size: cover;">
              <ion-text class="s19" style="color: white; z-index: 1000; position: relative; left: 9px; top: 3px;">{{ item.title }}</ion-text>
              <div style="z-index: 1000; margin-top: 145px; width: 90%; margin-left: 5%; margin-right: 5%;" class="">
                <ion-progress-bar value=".25" buffer=".5"></ion-progress-bar>
                <ion-text class="r13" style="color: #FFFFFF; margin-top: 0px;">100%</ion-text>
              </div>

            </div>
          </div>

        </ng-container>

      </div>

    </div>

  </div>

  <ion-modal
  cssClass="rbsheet"
  trigger="open-modal"
  [initialBreakpoint]="1"
  [breakpoints]="[0, 1]"
  handleBehavior="cycle"
  [canDismiss]="canDismiss"
>
<ng-template>
  <ion-toolbar mode="ios" class="ion-no-border">
      <ion-title class="h1" style="color: black;">How it Works</ion-title>
      <div class="column" style="align-items: flex-end;">
        <ion-icon (click)="close()" name="close" style="font-size: 24px;color: #000;"/>
      </div>
    </ion-toolbar>
  <ion-content class="ion-padding-start ion-padding-end" >
    <ion-text class="r13" >
      <p class="" [innerHTML]="markdowntoHTML(aboutAssessmentArticle.description)">
      </p>
    </ion-text>


  </ion-content>
</ng-template>
</ion-modal>

</ion-content>
