<ion-header [translucent]="false" style="box-shadow: none;background-color: var(--ion-color-bg);">
  <ion-toolbar color="bg" style="--border-width: 0 0;">
    <ion-buttons slot="start" routerLink="/myworkout">
      <ion-icon name="arrow-back" style="font-size: 24px;color: var(--ion-color-txt);"></ion-icon>
    </ion-buttons>
    <div class="ion-text-center" >
      <ion-title class="m16" >Full body workout</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" >

  <div class="list1">
    <ion-text class="m19">Full body workout</ion-text>
    <ion-icon name="pencil" color="dis1" style="font-size: 18px;"></ion-icon>
  </div>

  <div class="list" style="margin-top: 20px;">
    <div class="box1 column" style="justify-content: center;align-items: center;flex:1;background-color: #F8FAFC;">
      <ion-text class="m19">12</ion-text>
      <ion-text class="r13">Exercises</ion-text>
    </div>

    <div class="box1 column" style="justify-content: center;align-items: center;flex:1;background-color: #F8FAFC;margin: 0 15px;">
      <ion-text class="m19">30:00</ion-text>
      <ion-text class="r13">Time</ion-text>
    </div>

    <div class="box1 column" style="justify-content: center;align-items: center;flex:1;background-color: #F8FAFC;">
      <ion-text class="m19">260</ion-text>
      <ion-text class="r13">Calorie</ion-text>
    </div>
  </div>

  <div class="list" style="margin-top: 25px;">
    <ion-text class="m15" style="flex:1">Choose Equipment</ion-text>
    <ion-text class="r13" style="color: var(--ion-color-dis);" >2 Dumbells, Mat </ion-text>
    <ion-icon name="chevron-forward" color="arrow" style="font-size: 20px;margin-left: 5px;"></ion-icon>
  </div>

  <div class="lines"></div>

  <div class="list">
    <ion-text class="m15" style="flex:1">Choose Focus Area</ion-text>
    <ion-text class="r13" style="color: var(--ion-color-dis);" >Legs, Core muscles</ion-text>
    <ion-icon name="chevron-forward" color="arrow" style="font-size: 20px;margin-left: 5px;"></ion-icon>
  </div>

  <div class="list1" style="margin-top: 30px;">
    <ion-text class="m16" style="flex:1">Cobra Stretch</ion-text>
    <ion-text class="m14" style="color: var(--ion-color-dis1);" >Edit</ion-text>
  </div>

  <div  class="obox1 list" style="margin-top: 15px;">
    <ion-img src="../../../../assets/image/s50.png" style="height: 61px;width: 61px;"/>
    <div style="margin-left: 15px;flex: 1;">
      <ion-text class="m15">Cobra Stretch</ion-text>
      <div >
        <ion-text class="r13" style="color: var(--ion-color-dis);">0:30</ion-text>
      </div>
    </div>
    <ion-icon name="information-circle-outline" color="icon" style="font-size: 23px;"></ion-icon>
  </div>

  <div  class="obox1 list" style="margin-top: 15px;">
    <ion-img src="../../../../assets/image/s51.png" style="height: 61px;width: 61px;"/>
    <div style="margin-left: 15px;flex: 1;">
      <ion-text class="m15">Extended Side Angle</ion-text>
      <div >
        <ion-text class="r13" style="color: var(--ion-color-dis);">0:30</ion-text>
      </div>
    </div>
    <ion-icon name="information-circle-outline" color="icon" style="font-size: 23px;"></ion-icon>
  </div>

  <div class="list1" style="margin-top: 25px;">
    <ion-text class="m16" style="flex:1">Workout</ion-text>
    <ion-text routerLink="/eworkout" class="m14" style="color: var(--ion-color-dis1);" >Edit</ion-text>
  </div>

  <div  class="obox1 list" style="margin-top: 15px;">
    <ion-img src="../../../../assets/image/s10.png" style="height: 61px;width: 61px;"/>
    <div style="margin-left: 15px;flex: 1;">
      <ion-text class="m15">Low Lunge</ion-text>
      <div >
        <ion-text class="r13" style="color: var(--ion-color-dis);">0:30</ion-text>
      </div>
    </div>
    <ion-icon name="information-circle-outline" color="icon" style="font-size: 23px;"></ion-icon>
  </div>

  <div  class="obox1 list" style="margin-top: 15px;">
    <ion-img src="../../../../assets/image/s42.png" style="height: 61px;width: 61px;"/>
    <div style="margin-left: 15px;flex: 1;">
      <ion-text class="m15">Chair Pose</ion-text>
      <div >
        <ion-text class="r13" style="color: var(--ion-color-dis);">0:30</ion-text>
      </div>
    </div>
    <ion-icon name="information-circle-outline" color="icon" style="font-size: 23px;"></ion-icon>
  </div>

  <div class="list1" style="margin-top: 25px;">
    <ion-text class="m16" style="flex:1">Stretching</ion-text>
    <ion-text routerLink="/eworkout" class="m14" style="color: var(--ion-color-dis1);" >Edit</ion-text>
  </div>

  <div  class="obox1 list" style="margin-top: 15px;">
    <ion-img src="../../../../assets/image/s7.png" style="height: 61px;width: 61px;"/>
    <div style="margin-left: 15px;flex: 1;">
      <ion-text class="m15">Low Lunge</ion-text>
      <div >
        <ion-text class="r13" style="color: var(--ion-color-dis);">0:30</ion-text>
      </div>
    </div>
    <ion-icon name="information-circle-outline" color="icon" style="font-size: 23px;"></ion-icon>
  </div>

  <div  class="obox1 list" style="margin-top: 15px;">
    <ion-img src="../../../../assets/image/s44.png" style="height: 61px;width: 61px;"/>
    <div style="margin-left: 15px;flex: 1;">
      <ion-text class="m15">Downward Dog</ion-text>
      <div >
        <ion-text class="r13" style="color: var(--ion-color-dis);">0:30</ion-text>
      </div>
    </div>
    <ion-icon name="information-circle-outline" color="icon" style="font-size: 23px;"></ion-icon>
  </div>

  <ion-button expand="block" routerLink="/myworkout" style="margin-top: 30px;margin-bottom: 20px;">Save</ion-button>
  
</ion-content>
